<div class="container-fluid">
	<h4> Ongoing </h4>
	<hr />
	<div class="row">
		<div class="col-md-4" ng-repeat="course in ongoing_courses | orderBy: 'id':true ">
			<div ng-include src="'static/partials/course/course_tile.html'"></div>
		</div>
	</div>
	<div ng-if="ongoing_courses.length === 0">
		<div class="col-md-12 big-page empty-message">
			<p> You're not enrolled in any courses! </p>
		</div>
	</div>
	<h4> Completed </h4>
	<hr />
	<div class="row">
		<div class="col-md-4" ng-repeat="course in completed_courses | orderBy: 'id':true ">
			<div ng-include src="'static/partials/course/course_tile.html'"></div>
		</div>
	</div>
	<div ng-if="completed_courses.length === 0">
		<div class="col-md-12 big-page empty-message">
			<p> You haven't completed any courses! </p>
		</div>
	</div>

</div>
	<!-- <h4><a href="/course/{{ course.CourseID }}">{{ course.title }}</a></h4>
	<p>{{ course.description }}<p> -->
