<!-- <p><a href="/course/">back</a></p> -->
<div class="split-pane">
  <div class="col-md-6 detail-pane">

  	<div class="row">
      <div class="col-md-2">
        <a class="btn btn-link header-button" href="#" ng-click="go_back()">back</a>
      </div>
  		<div class="col-md-6">

  			<h2>{{ project.title }} </h2><h4> by {{ sponsor.login }} </h4>
  		</div>
      <div class="col-md-2">

        <h2>${{ project.payment }}</h2>
      </div>
  		<div class="col-md-2 pull-right" ng-if="!projectOngoing && eligible && ((showApplication && !hasApplied) || data[0].application_status === 'cancelled')">
        <form ng-submit="apply()">
          <input class="btn btn-success header-button" type="submit" value="Apply">
        </form>
  		</div>
      <div class="col-md-2 pull-right" ng-if="!eligible && showApplication && !hasApplied">
        <form ng-submit="apply()">
          <input class="btn header-button" type="submit" value="Requirements not met" disabled="true">
        </form>
      </div>

  		<div class="col-md-2 pull-right" ng-if="showApplication && hasApplied && data[0].application_status === 'applied'">
        <form ng-submit="cancel()">
          <input class="btn btn-danger header-button" type="submit" value="Cancel">
        </form>
  		</div>
      <div class="col-md-2 pull-right" ng-if="showApplication && hasApplied && data[0].application_status === 'accepted'">
        <form>
          <input class="btn btn-link header-button" type="submit" value="Accepted" disabled="true">
        </form>
      </div>
      <div class="col-md-2 pull-right" ng-if="showApplication && hasApplied && data[0].application_status === 'completed'">
        <form>
          <input class="btn btn-link header-button" type="submit" value="Completed" disabled="true">
        </form>
      </div>

  	</div>
    <hr />
    <form ng-submit="update()">
      <div class="row">
        <div class="col-md-2">
        </div>

    		<div class="col-md-8">
    			<h4>Description</h4>
          <textarea name="description" ng-model="project.description" class="big-textarea form-control" ng-readonly="sponsor.UserID !== currentUser.UserID || project.status === 'completed'">{{ project.description }}</textarea>
    		</div>
    	</div>
      <div class="row">
        <div class="col-md-2">
        </div>

    		<div class="col-md-8">
    			<h4>Deliverables</h4>
          <textarea name="deliverables" ng-model="project.deliverables" class="big-textarea form-control" ng-readonly="sponsor.UserID !== currentUser.UserID || project.status === 'completed'">{{ project.deliverables }}</textarea>
    		</div>
    	</div>
      <div class="row">
        <div class="col-md-2">
        </div>

        <div class="col-md-8">
          <h4>Prerequisites</h4>
          <textarea name="prerequisites" ng-model="project.requirements" class="big-textarea form-control" ng-readonly="sponsor.UserID !== currentUser.UserID || project.status === 'completed'">{{ project.requirements }}</textarea>
        </div>
      </div>

      <div class="row" ng-if="userType === 'sponsor' && sponsor.UserID === currentUser.UserID && project.status !== 'completed'">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          <input type="submit" class="btn btn-primary header-button pull-right">
        </div>
      </div>
    </form>


    <div class="row" ng-if="engagedApplicant.UserID === currentUser.UserID && showApplication && hasApplied && data[0].application_status === 'accepted'">
     <hr />
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <div>
          <h4> Submissions </h4>
          <div class="applicant-row" ng-repeat="submission in submissions">
            <!-- {{ submission }} -->
            <div class="container submission-tile">
              <a target="_self" download="{{ submission.item }}" href="/static/files/{{ submission.item }}"><span></span></a>
              <div class="row">
                <div class="col-md-2">
                  {{ submission.date }}
                </div>
                <div class="col-md-8">
                  <p class="submission-desc">
                    {{ submission.description }}
                  <p>
                </div>
                <div class="col-md-2">
                  <i class="fa fa-download" aria-hidden="true"></i>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-md-2">
                  Feedback
                </div>
                <div class="col-md-10">
                  {{ submission.feedback }}
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <hr />
    <div ng-if="engagedApplicant.UserID === currentUser.UserID && showApplication && hasApplied && data[0].application_status === 'accepted'">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h4> Submit Work</h4>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <form ng-controller="ProjectDetailController" ng-submit="submit_work()">
            <input id="file" type="file" onchange="angular.element(this).scope().add_file(this.files)" class="form-control button file-upload" ng-model="formData.file" name="file" required>
            <textarea id="work_description" class="vertical-textarea form-control" ng-model="formData.work_description" placeholder="Description" required></textarea>
            <input type="submit" class="btn btn-primary header-button pull-right">
          </form>
        </div>
        <div class="col-md-2"></div>

      </div>
    </div>
  </div>
  <div class="col-md-6 applicant-pane" ng-if="userType === 'sponsor' && !projectOngoing && project.status !== 'completed'">
    <div class="row">
      <h2>Applicants</h2>
    </div>
    <div class="applicant-table">
      <div class="row applicant-row" ng-repeat="applicant in applicants">
        <a href="/student/{{applicant.StudentID}}"><span></span></a>

        <div class="col-md-10">{{ applicant.FirstName }} {{ applicant.LastName }}</div>
        <div class="col-md-2 top-layer">
          <form ng-submit="accept(applicant.StudentID)" ng-if="applicant.status === 'applied'">
            <input  class="btn btn-success pull-right top-layer" type="submit" value="Accept">
          </form>
          <form ng-submit="accept(applicant.StudentID)" ng-if="applicant.status === 'cancelled'">
            <input  class="btn pull-right top-layer" type="submit" value="Cancelled" disabled="true">
          </form>
          <form ng-if="applicant.status === 'accepted'">
            <input  class="btn btn-link pull-right top-layer" type="submit" value="Accepted" disabled="true">
          </form>
          <form ng-if="applicant.status === 'unsuccessful'">
            <input  class="btn btn-link pull-right top-layer" type="submit" value="Unsuccessful" disabled="true">
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 applicant-pane" ng-if="userType === 'sponsor' && projectOngoing || project.status === 'completed'">
    <div class="row">
      <div class="col-md-10">
        <h2>Work Details</h2>
      </div>
      <div class="col-md-2">
        <input ng-if="project.status !== 'completed'" ng-click="complete()" type="submit" class="btn header-button btn-success pull-right" value="Complete Project">
      </div>
    </div>
    <div class="applicant-table">

      <div class="row applicant-row">
        <a href="/student/{{engagedApplicant.StudentID}}"><span></span></a>
        <div class="col-md-10">{{ engagedApplicant.FirstName }} {{ engagedApplicant.LastName }}</div>
        <div class="col-md-2 top-layer">
          <form>
            <input  class="btn btn-link pull-right top-layer" type="submit" value="Accepted" disabled="true">
          </form>
        </div>
      </div>
      <div>
        <div class="applicant-row" ng-repeat="submission in submissions">
          <!-- {{ submission }} -->
          <div class="container submission-tile">
            <a target="_self" download="{{ submission.item }}" href="/static/files/{{ submission.item }}"><span></span></a>
            <div class="row">
              <div class="col-md-2">
                <p class="submission-desc">
                  {{ submission.date }}
                </p>
              </div>
              <div class="col-md-8">
                <p class="submission-desc">
                  {{ submission.description }}
                <p>
              </div>
              <div class="col-md-2">
                <i class="fa fa-download" aria-hidden="true"></i>
              </div>
            </div>
            <hr />
            <form ng-submit="feedback(submission.SubmissionID)">
              <div class="row zindex-9">
                <div class="col-md-10">
                  <p class="submission-feedback-head">
                    Feedback
                  </p>
                </div>

                <div class="col-md-2 zindex-9">
                    <input ng-if="project.status !== 'completed'" type="submit" class="btn btn-primary pull-right">
                </div>
              </div>
              <div class="row zindex-9">
                <div class="col-md-12 zindex-9">
                  <textarea ng-readonly="project.status === 'completed'"id="feedback" name="feedback.feedback_{{submission.SubmissionID}}" class="submission-desc big-textarea form-control" ng-model="feedback['feedback_'+submission.SubmissionID]">{{ submission.feedback }}</textarea>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
