<div class="top-pane">
  <div class="container">
    <h1> Hello, {{ sponsor.login }}. </h1>
  </div>
</div>
<div class="container">
  <div class="col-md-12">
    <ul class="nav nav-pills nav-justified top-pills">
      <li ng-class="{active: currentTab == 1}"><a href="#" ng-click="switch(1)">Ongoing Projects</a></li>
      <li ng-class="{active: currentTab == 2}"><a href="#" ng-click="switch(2)">Open Projects</a></li>
      <li ng-class="{active: currentTab == 3}"><a href="#" ng-click="switch(3)">Completed Projects</a></li>
      <li ng-class="{active: currentTab == 4}"><a href="#" ng-click="switch(4)">New Project</a></li>
    </ul>
  </div>
</div>

<div class="ng-cloak" ng-controller="ProjectListSponsorController">
  <div class="container" ng-if="currentTab === 1">
    <div class="col-md-4 panel-body" ng-repeat="project in ongoing_projects | orderBy: 'id':true ">
      <div ng-include src="'static/partials/project/project_tile.html'"></div>
    </div>
    <div ng-if="ongoing_projects.length === 0">
      <div class="col-md-12 big-page empty-message">
        <p> You have no ongoing projects! </p>
      </div>
    </div>

  </div>
  <div class="container" ng-if="currentTab === 2">
    <div class="col-md-4 panel-body" ng-repeat="project in open_projects | orderBy: 'id':true ">
      <div ng-include src="'static/partials/project/project_tile.html'"></div>
    </div>
    <div ng-if="open_projects.length === 0">
      <div class="col-md-12 big-page empty-message">
        <p> You have no open projects! </p>
      </div>
    </div>

  </div>
  <div class="container" ng-if="currentTab === 3">
    <div class="col-md-4 panel-body" ng-repeat="project in completed_projects | orderBy: 'id':true ">
      <div ng-include src="'static/partials/project/project_tile.html'"></div>
    </div>
    <div ng-if="completed_projects.length === 0">
      <div class="col-md-12 big-page empty-message">
        <p> You have no completed projects! </p>
      </div>
    </div>
  </div>
  <div class="container" ng-if="currentTab === 4">
    <div ng-controller="CreateProjectController" class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <form ng-submit="create_project()">
          <div class="row">
            <p class="col-md-12">
              <input id="title" class="form-control" type="text" name="title" ng-model="title" placeholder="Title" required>
            </p>
          </div>
          <div class="row">
            <p class="col-md-12">
              <textarea id="description" class="form-control vertical-textarea" type="text" name="description" ng-model="description" placeholder="Description" required></textarea>
            </p>
          </div>
          <div class="row">
            <p class="col-md-12">
              <input id="category" class="form-control" type="text" name="category" ng-model="category" placeholder="Category" required>
            </p>
          </div>
          <div class="row">
            <p class="col-md-12">
              <textarea id="deliverables" class="form-control vertical-textarea" type="text" name="deliverables" ng-model="deliverables" placeholder="Deliverables" required></textarea>
            </p>
          </div>
          <div class="row">
            <p class="col-md-12">
              <textarea id="requirements" class="form-control vertical-textarea" type="text" name="requirements" ng-model="requirements" placeholder="Prerequisite knowledge" required></textarea>
            </p>
          </div>
          <div class="row">
            <p class="col-md-12">
              <input id="payment" class="form-control vertical-textarea" type="number" min="0.00" max="1000000.00" step="0.01" name="payment" ng-model="payment" placeholder="Payment" required></textarea>
            </p>
          </div>
          <div class="row">
            <p class="col-md-12">
              <input id="thumbnail" class="form-control" type="text" name="thumbnail" ng-model="thumbnail" placeholder="thumbnail"></input>
            </p>
          </div>

          <input class="btn btn-primary pull-right" type="submit" value="Create">
        </form>
      </div>
      <div class="col-md-3"> </div>
    </div>

  </div>
</div>
<!-- <div class="container">
  <div ng-if="!isShowingNew">
    <div class="row">
      <div class="col-md-10">
      </div>
      <div class="col-md-2">
        <button ng-click="showNew()" type="button" class="btn btn-primary header-button pull-right">New</button>
      </div>
    </div>
    <div ng-controller="ProjectListController">
      <div class="row">
        <h2>Completed Projects</h2>
        <div class="col-md-4" ng-repeat="project in completed_projects | orderBy: 'id':true ">
          <div ng-include src="'static/partials/project/project_tile.html'"></div>
        </div>
      </div>
    </div>
  </div> -->
<!--
  <div ng-if="isShowingNew">
    <div class="row">
      <div class="col-md-3">
        <button ng-click="hideNew()" type="button" class="btn btn-link header-button pull-right">Back</button>
      </div>
      <div class="col-md-6">
        <h2> New Project </h2>
      </div>
    </div>
    <div ng-controller="CreateProjectController" class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <form ng-submit="create_project()">
          <div class="row">
            <p class="col-md-12">
              <input id="title" class="form-control" type="text" name="title" ng-model="title" placeholder="Title" required>
            </p>
          </div>
          <div class="row">
            <p class="col-md-12">
              <textarea id="description" class="form-control vertical-textarea" type="text" name="description" ng-model="description" placeholder="Description" required></textarea>
            </p>
          </div>
          <div class="row">
            <p class="col-md-12">
              <input id="category" class="form-control" type="text" name="category" ng-model="category" placeholder="Category" required>
            </p>
          </div>
          <div class="row">
            <p class="col-md-12">
              <textarea id="deliverables" class="form-control vertical-textarea" type="text" name="deliverables" ng-model="deliverables" placeholder="Deliverables" required></textarea>
            </p>
          </div>
          <div class="row">
            <p class="col-md-12">
              <textarea id="requirements" class="form-control vertical-textarea" type="text" name="requirements" ng-model="requirements" placeholder="Prerequisite knowledge" required></textarea>
            </p>
          </div>
          <div class="row">
            <p class="col-md-12">
              <input id="payment" class="form-control vertical-textarea" type="number" min="0.00" max="1000000.00" step="0.01" name="payment" ng-model="payment" placeholder="Payment" required></textarea>
            </p>
          </div>

          <input class="btn btn-primary pull-right" type="submit" value="Create">
        </form>
      </div>
      <div class="col-md-3"> </div>
    </div>

  </div> -->
</div>
