<div class="top-pane">
  <div class="container">
    <h1> Hello, {{ supervisor.login }}. </h1>
  </div>
</div>


<div class="container">
  <div ng-if="!isShowingNew">
    <div class="row">
      <div class="col-md-10">
        <h2> My Students </h2>
      </div>
      <div class="col-md-2">
        <button ng-click="showNew()" type="button" class="btn btn-primary header-button pull-right">New</button>
      </div>
    </div>
    <student-table ng-controller="StudentListController"></student-table>
  </div>

  <div ng-if="isShowingNew">
    <div class="row">
      <div class="col-md-3">
        <button ng-click="hideNew()" type="button" class="btn btn-link header-button pull-right">Back</button>
      </div>
      <div class="col-md-6">
        <h2> New Student </h2>
      </div>
    </div>
    <div ng-controller="CreateStudentController" class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <form ng-submit="create_student()">
          <div class="row">
            <p class="col-md-12">
              <input id="username" class="form-control" type="text" name="username" ng-model="username" placeholder="Username" required>
            </p>
          </div>
          <div class="row">
            <p class="col-md-6">
              <input id="FirstName" class="form-control" type="text" name="FirstName" ng-model="FirstName" placeholder="First Name" required>
            </p>
            <p class="col-md-6">
              <input id="LastName" class="form-control" type="text" name="LastName" ng-model="LastName" placeholder="Last Name" required>
            </p>
          </div>
          <div class="row">
            <p class="col-md-12">
              <input id="password" class="form-control" type="password" name="password" ng-model="password" placeholder="Password" required>
            </p>
          </div>
          <input class="btn btn-primary pull-right" type="submit" value="Create">
        </form>
      </div>
      <div class="col-md-3"> </div>
  </div>

  </div>
</div>
