<!-- <a class="btn btn-link" href="/student/">back</a> -->
<!-- <p><a href="/course/">back</a></p> -->
<div class="top-pane">
  <div class="container">
    <h1> {{ student.FirstName }} {{ student.LastName}} </h1>
  </div>
</div>

<div class="container">
  <h4> Achievements </h4>
  <hr />
  <div ng-controller="AchievementListController" class="row margin-bottom-20">
		<div class="col-md-2 panel-body" ng-repeat="achievement in earned | orderBy: 'id':true ">
			<div ng-include src="'static/partials/achievement_tile.html'"></div>
		</div>
	</div>
	<div ng-if="earned.length === 0">
		<div class="col-md-12 big-page empty-message">
			<p> No achievements earned! </p>
		</div>
	</div>

  <h4> Completed Projects </h4>
	<hr />
	<div ng-controller="ProjectListStudentController" class="row margin-bottom-20">
		<div class="col-md-4 panel-body" ng-repeat="project in completed_projects | orderBy: 'id':true ">
			<div ng-include src="'static/partials/project/project_tile.html'"></div>
		</div>
	</div>
	<div ng-if="completed_projects.length === 0">
		<div class="col-md-12 big-page empty-message">
			<p> You haven't completed any projects! </p>
		</div>
	</div>

	<h4> Completed Courses </h4>
	<hr />
	<div ng-controller="EnrolledCourseListController" class="row margin-bottom-20">
		<div class="col-md-4" ng-repeat="course in completed_courses | orderBy: 'id':true ">
			<div ng-include src="'static/partials/course/course_tile.html'"></div>
		</div>
	</div>
	<div ng-if="completed_courses.length === 0">
		<div class="col-md-12 big-page empty-message">
			<p> You haven't completed any courses! </p>
		</div>
	</div>


</div>
